html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(12, 12, 12) !important;
    overflow-x: hidden;
}
ul{
    transition: 1s ease;
    animation: fade-in ease-in both;
    animation-timeline: view();
    animation-range:entry 50%;
    animation-delay: 5s;
}
li{
    font-size: clamp(20px, 4vw, 30px);
}
form{
    position: relative;
    top: -9vh;
}
#footer-text1{
    transform: translateY(-150%);
}
#footer-logo{
    object-position: center;
    align-self: center;
    animation: zoom ease-in both;
    animation-timeline: view();
    animation-range: entry 0;
}
#footer div{
    border-right: 1px solid whitesmoke;
}
#foter{
    animation: fade-in ease both;
    animation-timeline: view();
    animation-range:entry 20%;
}
.Pizza div{
    animation: zoom ease-in;
    animation-timeline: view();
    animation-range: entry 0;
}
.Burger div{
   animation: from-left ease-in;
    animation-timeline: view();
    animation-range: entry 30%;
}
.Fries div{
    animation: from-bottom linear both;
    animation-timeline: view();
    animation-range: entry 10%;
} 
.Others div{
    animation: fade-in ease both;
    animation-timeline: view();
    animation-range: entry 30%;
    transform: 0.3s ease-in;
}
label{
    font-size: clamp(15px, 4vw, 25px);
}

#modal{
    position:absolute;
    top: 10%;
    right: 1.5%;
    z-index: 10;
    text-wrap: wrap;
    user-select: none;
    touch-action: none;
    animation: zoom ease-in 0.2s;
}
.card img{
    aspect-ratio: 3/2;
    object-fit:fill ;
}
@keyframes zoom {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
@keyframes from-left {
    from{
        opacity: 0;
        transform: translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes from-bottom {
    from{
        opacity: 0;
        transform: translateY(100%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@media screen and (width<1000px){
   #footer div{
        border-bottom: 1px solid whitesmoke;
        margin-bottom: 20px;
    }
    .Pizza div,.Burger div,.Fries div,.Others div{
            animation-range: entry 0;
    }
}


@media screen and (width<850px){
    #footer-logo{
        transform: translateX(-20%);
    }
}